<div class="d-flex align-items-center justify-content-center">
  <div>
    <h1>Welcome to Scheduled Tweets!</h1>

    <% if @user %>
      <div class="alert alert-success">
        Welcome, <%= @user.email %>!
      </div>
    <% end %>
  </div>
</div>
